<div class="container">
    <section class="about">
        <h3>Contato</h3>
        <div class="form">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Seu nome:</label>
                        <input type="text" name="formNome" class="form-control" placeholder="Digite seu nome" ng-model="formNome" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="text" name="formMail" class="form-control" placeholder="Digite seu e-mail" ng-model="formMail" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">

                        <label>Assunto:</label>
                        <input type="text" name="formAssunto" class="form-control" placeholder="Digite seu nome" ng-model="formAssunto" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Sua mensagem:</label>
                        <textarea name="formMsg" class="form-control" placeholder="Digite seu nome" ng-model="formMsg" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="formVisualize">
            <h4>Visualize sua mensagem aqui!</h4>
            <div class="form-group">
                <span class="formNome">{{"Nome: "+ formNome}}</span>
            </div>
            <div class="form-group">
                <span class="formEmail">{{"E-mail: "+ formMail}}</span>
            </div>
            <div class="form-group">
                <span class="formAssunto">{{"Assunto: "+ formAssunto}}</span>
            </div>
            <div class="form-group">
                Mensagem:<br>
                Olá, Leonardo!
                <br>
                <span class="formMsg">{{formMsg}}</span>
            </div>
        </div>
    </section>
</div>