<div class="container">
    <section class="about">
        <h3>Contato</h3>
        <div class="form">
            <div class="row">
                <div class="col-md-offset-4 col-sm-offset-6 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Seu nome:</label>
                        <input type="text" name="formNome" class="form-control" placeholder="Digite seu nome" ng-model="formNome" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-sm-offset-6 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="text" name="formMail" class="form-control" placeholder="Digite seu e-mail" ng-model="formMail" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-sm-offset-6 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">

                        <label>Assunto:</label>
                        <input type="text" name="formAssunto" class="form-control" placeholder="Digite seu nome" ng-model="formAssunto" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-sm-offset-6 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Sua mensagem:</label>
                        <textarea name="formMsg" class="form-control textAreaLimit" placeholder="Digite seu nome" ng-model="formMsg" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>